<legend class="text-center header">Registro de personas</legend>
<form  >
    <div class="form-row ">
      <div class="form-group col-md-1 ">
        <label for="inputId">Id</label>
        <input type="number" class="form-control" id="inputId" placeholder="123"  min=0 #newId formControlName="id">
      </div>
     <div class="form-group col-md-3 ">
        <label for="inputName">Nombre</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nombre (s)" autofocus #newNombre formControlName="name">
      </div>
      <div class="form-group col-md-4 ">
            <label for="inputApellidoPaterno">Apellido Paterno</label>
            <input type="text" class="form-control" id="inputApPaterno" placeholder="APaterno" #newAppaterno>
      </div>
      <div class="form-group col-md-4 ">
        <label for="inputAoellidoMaterno">Apellido Materno</label>
        <input type="text" class="form-control" id="inputApMaterno" placeholder="AMaterno"  #newApmaterno>
      </div>
      <div class="form-group col-md-1 ">
        <label for="inputEdad">Edad</label>
        <input type="number" class="form-control" id="inputEdad" placeholder="25"  min=0 #newEdad>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="ejemplo@gmail.com" #newCorreo>
      </div>
      <div class="form-group col-md-5">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="******" #newPassword>
      </div>
    </div>
    <div class="form-group col-md-10">
      <label for="inputProfesion">Profesión</label>
      <input type="text" class="form-control" id="inputProfesion" placeholder="Estudiante, Ingeniero" #newProfesion>
    </div>

    <div class="form-group">
        <div class="col-md-12 text-center">
           <button type="submit" class="btn btn-dark">Registrar</button>
        </div>
    </div>
  </form>




