<legend class="text-center header">Mostrar personas</legend>

<!--Se manda a llamar al componente que tiene la vista para mostrar los datos de la persona
Y se pasan los parámetros del modelo persona mediante un for, que construye una vista diferente
para cada persona que haya dentro del objeto persona-->

<div class="container">
<div class="row" >
      <app-vista-persona *ngFor="let persona of personas" [pasarDatos]= "persona"> <div class="col-md-4 " ></div> </app-vista-persona>
  </div>
</div>