<!--Invocando a los componentes-->
<app-navigation></app-navigation>

<!--Componente donde se muestran los componentes de ruteo-->
<router-outlet></router-outlet>

<!--Mostrar los componentes
    <app-formulario></app-formulario>
<app-mostrar></app-mostrar>-->
