
      <div class="card border-info">
        <div class="card-body text-info">
          <h5 class="card-title"><b>Id: {{pasarDatos.id}}</b> </h5>
          <p class="card-text"> <b>Nombre:</b> {{pasarDatos.nombre}} {{pasarDatos.appaterno}} {{pasarDatos.apmaterno}}<br>
             <b>Edad:</b> {{pasarDatos.edad}} <br>
             <b>Correo:</b> {{pasarDatos.correo}}<br>
             <b>Password:</b> {{pasarDatos.password}}<br>
             <b>Profesión:</b> {{pasarDatos.profesion}}</p>
          <div class="row">
            <div class="col-md-5"> <button class="btn btn-primary"  [routerLink]="['/actualizar', 'pasarDatos.id']">Actualizar</button></div>
            <div class="col-md-5"> <button class="btn btn-danger" (click)="borrarPersona(pasarDatos)">Eliminar</button></div>
        
        </div>
        </div>
        </div>
     
      