<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    
    <!--<a class="navbar-brand" (click)="navegarHaciaMostrar()">Personas</a>-->
    <a class="navbar-brand" [routerLink]="['/mostrar']">Personas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/ingresar']">Ingresar <span class="sr-only">(current)</span></a>
        </li>
      </ul>
     
    </div>
  </nav>
